@font-face 
{   
    src: url('fonts/COOPBL.woff') format('woff');
    font-family: 'Cooper Black Regular';
    font-style: normal;
    font-weight: normal;
}

body
{
    background-color: #f7fbfc;
    font-family: Verdana, Tahoma, sans-serif;
}

.oops
{
    font-family: 'Cooper Black Regular';
    font-size: 5em;
}

#logo
{
    width: 100px;
}