@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('font/OpenSans-ExtraBold-webfont.eot');
    src: url('font/OpenSans-ExtraBold-webfont.svg') format('svg'),
         url('font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-color: #fff;
    font-family: 'Open Sans ExtraBold';
}
/**FLEXBOX**/
#container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/**HEADER**/
p
{
    font-size: 1.3em;
    text-align: justify;

}

h1
{
    font-size: 4.5em;
}
	

/**BUTTON**/
.button
{
    background: #fff;
    color: #000;
    font-size: 1em;
    font-family: 'Open Sans ExtraBold';
    cursor: grabbing;
    padding: 10px 10px;
    box-shadow: 5px 5px 5px #ccc;
    transform: scale(1);
    transition: transform 400ms;
}

.button:hover
{
    transform: scale(1.15);
}

a
{
    text-decoration: none;
    color: #000; 
}

a:hover
{
    background-color:#000;
    color:#fff;
    cursor: grabbing;
}