@font-face 
{   
    font-family: 'Cooper Black Regular';
    src: url('fonts/cooper/COOPBL.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'Action Man';
    src:url('fonts/action/Action_Man-webfont.eot') format('eot'),
        url('fonts/action/Action_Man-webfont.svg') format('svg'),
        url('fonts/action/Action_Man-webfont.ttf') format('ttf'),
        url('fonts/action/Action_Man-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body
{
    background: linear-gradient(-180deg, rgb(246, 251, 255), rgb(181, 218, 255));
    font-family: 'Action Man';
}

/**IMAGES**/
.oops
{
    font-family: 'Cooper Black Regular';
    font-size: 3em;
}

.error
{
    width: 500px;
}

#logo
{
    width: 100px;
}

/**FLEXBOX**/
#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box
{
    text-align: center;
}

/**BUTTON**/
.button
{
    background: #f7e23b;
    color: #000;
    font-size: 1em;
    font-family: 'Cooper Black Regular';
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5em;
    border: 1px solid #b5daff;
    box-shadow: 5px 5px 5px #000;
    transform: scale(1);
    transition: transform 400ms;
}

.button:hover
{
    transform: scale(1.15);
}

a
{
    text-decoration: none;
    color: #000; 
}

a:hover
{
    color:#b5daff;
}